<div class="panel panel-default">
  <div class="panel-heading custom_class">
    <h1 align="center">
      Welcome to 3D Print Request form
    </h1> 
  </div>
</div>   
<br>
<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <h3>Submitting a design for printing</h3> <br>
        <ol>
          <li>Persons wanting to use the 3D printer shall fill this Request form and upload their file in .stl (preferred), .obj, or .thing file format, of size no larger than 25 MB to the C-Space during open hours. Staff will add the model to the printing queue.</li>
        <br>
        <li>
            If there is high demand, the Library will schedule only one print per day per person or entity.
        </li><br>
        <li>
            The files will be readied for printing in MakerWare or other authorized software. University Libraries will view all files in MakerWare or other authorized software before printing.
        </li><br>
        <li>
            Wait/pickup time: After submitting a 3D print request, the patron will be notified via email when the project is underway, and again once it is completed and ready for pickup. The printed object will be held at Circulation for payment and pickup for 7 days.
        </li>
        </ol> 
        <h3 align="center"><span class="nimi"> Click on<i> Form </i> to submit your 3D print request!</span></h3>
    </div>
  </div>
</div>
