<div class="card">
    <div class="card-body">
        <table class="table table-striped">
            <thead>
              <tr>
                <td>Name</td>
                <td>Email</td>
                <td>MyWSU</td>
                <td>File Name</td>
                
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let val of userListData">
                    <td>{{val.name}}</td>
                    <td>{{val.email}}</td>
                    <td>{{val.wsu}}</td>
                    <td>{{val.FileName}}</td>
                </tr>
            </tbody>
          </table>

    </div>
  </div>
